# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Practice.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\olegn\RiderProjects\Practice\.idea\.idea.Practice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
